target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.classpath
.project
.idea/
.settings/
*.iml
*.ipr
*.iws
node_modules/
bin/
*.pyc
extjs-6.2.0-app/