<div class="row">
<div class="col">
  <table class="table table-bordered table-sm table-striped table-hover">
    <thead class="thead-default">
      <tr>
        <th>ID</th>
        <th>Description</th>
        <th>Pending</th>
        <th>Completed</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let node of nodes">
        <td>{{ node.id }}</td>
        <td>{{ node.description }}</td>
        <td>{{ node.pending }}</td>
        <td>{{ node.completed }}</td>
      </tr>
    </tbody>
  </table>
  <app-pagination [currentPage]="currentPage" (pageChange)="refreshData($event)" [totalRecords]="totalRecordCount"></app-pagination>
</div>
</div>